@media (min-width: 1024px) and (max-width: 1100px) {
  .cs-nav-scroll {
    width: 96%;
    left: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #goTpButton {
    bottom: 60px;
    right: 5px;
  }

  /******navbar*****/
  .megamenu-main-text {
    width: 30%;
  }
  .text-subscribe {
    display: none;
  }
  .search-resp {
    display: block;
  }
  .cs-nav {
    display: none !important;
  }
  .banner {
    margin-top: 50px;
  }

  .cs-nav-scroll .cs-menu {
    display: none;
  }
  .cs-nav-scroll .logo-scroll2 {
    display: none;
  }
  .search2 {
    order: 3;
  }
  .header-nav__icon {
    order: 1;
  }
  .cs-nav-scroll .logo-scroll1 {
    order: 2;
  }
  .cs-nav-scroll {
    width: 97%;
  }
  .header-title #hamburger2 {
    display: block;
  }
  .header-title #resp-block-a {
    display: none;
  }
  .cs-nav-scroll .logo-scroll1 {
    width: 30%;
    padding: 3px;
  }
  .cs-nav-scroll .search2 {
    display: none;
  }
  .cs-nav-scroll .search-resp2 {
    display: block;
    order: 3;
  }
  /******* cars section */
  .cs-cars-cont {
    flex-wrap: wrap;
  }
  /*****cars side  */
  .cs-cars-side {
    max-width: 100%;
    width: 100%;
    padding-left: 1.25rem;
    margin-top: 40px;
    padding-left: 0px;
  }
  .cs-side-box a img {
    width: 374px;
  }
}

@media (min-width: 768px) {
}

@media (max-width: 767px) {
  #goTpButton {
    width: 40px;
    height: 40px;
    bottom: 30px;
    right: 20px;
  }

  #goTpButton::after {
    font-size: 1.8em;
    line-height: 50px;
    position: relative;
    bottom: 5px;
  }

  /********navbar******/
  .text-subscribe {
    display: none;
  }
  .search-resp {
    display: block;
  }
  .cs-nav {
    display: none !important;
  }

  .cs-nav-scroll .cs-menu {
    display: none;
  }
  .cs-nav-scroll .logo-scroll2 {
    display: none;
  }
  .search2 {
    order: 3;
  }
  .header-nav__icon {
    order: 1;
  }
  .cs-nav-scroll .logo-scroll1 {
    order: 2;
  }
  .cs-nav-scroll {
    width: 97%;
  }
  .header-title #hamburger2 {
    display: block;
  }
  .header-title #resp-block-a {
    display: none;
  }
  .cs-nav-scroll .logo-scroll1 {
    width: 30%;
    padding: 3px;
  }
  .cs-nav-scroll .search2 {
    display: none;
  }
  .cs-nav-scroll .search-resp2 {
    display: block;
    order: 3;
    padding-right: 5px;
  }

  .megamenu-main {
    flex-direction: column;
    width: 100%;
  }
  .megamenu-main-text > a:nth-child(1) {
    padding: 15px 10px;
  }
  .main-ul-text a {
    padding: 15px 10px;
    width: 100%;
    border-bottom: 2px solid #4a4a4a;
  }
  .megamenu-main-text {
    width: 100%;
  }
  .megamenu-main-lastone .social,
  .megamenu-main-lastone .sign-up {
    flex-direction: column;
    align-items: flex-start;
  }
  .megamenu-title .logo-search {
    align-items: flex-start;
    flex-direction: column;
  }
  .megamenu-title .logo-search .search-main {
    margin-top: 10px;
  }
  /******* cars section */
  .cs-cars-cont {
    flex-wrap: wrap;
  }
  .cs-cars-small {
    display: flex;
    flex-direction: column;
  }
  .cs-cars-header h2 {
    margin-left: 5px;
    margin-bottom: 2px;
  }
  .cs-cars-small-magazine {
    justify-content: center;
    flex-wrap: wrap;
    border: transparent;
  }
  .cs-magazine img {
    width: 305px;
    height: 367px;
  }
  .cars-img-box {
    width: 100%;
  }
  .cars-p-box {
    width: 100%;
  }
  .cs-cars-side {
    padding-left: 0px;
    margin-top: 35px;
    max-width: 766px;
  }
  .cs-side-mr {
    margin: 35px auto;
  }
  .cs-side-box a img {
    border-radius: 50%;
    width: 50%;
    margin-bottom: 10px;
  }
  /****-***************** cs---brands↓ */
  /*********main page shelter  ↓*/
  .cs-shelter button {
    max-width: 100%;
    width: 100%;
  }
  .cs-gear-shelter .bg-button {
    height: 52px;
    color: #fff;
    margin-top: 10px;
  }
  .cs-shelter h4 {
    font-size: 22px;
  }
  .cs-shelter a h5 {
    font-size: 23px;
  }
  .cs-brands-bottom-p a h5 {
    font-size: 17px !important;
  }
  .cs-shelter .d-flex span {
    font-size: 11px;
  }

  .cs-shelter .d-flex p {
    font-size: 11px;
  }
  .cs-shelter button {
    font-size: 17px;
  }
  .cs-gear-shelter .bg-button {
    font-size: 17px;
  }
  .cs-brands-bottom {
    justify-content: space-evenly;
  }
  .cs-brands-bottom-p {
    width: 70%;
    margin-left: 10px;
  }
  .cs-gear-container {
    border-top: transparent !important;
    padding: 0px;
  }
  /***********marine seciton  */
  .cs-main-marine {
    width: 100%;
    max-width: 1300px;
    margin: 55px auto;
    text-align: center;
    padding: 0px;
  }
  .cs-marine-sm {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px !important;
  }
  .cs-marine-sm-top {
    width: 100% !important;
    border-top: 0.0625rem solid #dddee4;
    border-bottom: 0.0625rem solid #dddee4;
    display: flex;
    padding: 15px 0;
    text-align: start;
  }
  .cs-shelter {
    margin-top: 15px !important;
  }
  .cs-marine-sm a h5 {
    font-size: 17px;
    margin-top: 0px;
  }
  .cs-marine-sm .d-flex span {
    font-size: 11px;
  }
  .cs-marine-sm .d-flex p {
    font-size: 11px;
  }
  .cs-marine-bg a h5 {
    font-size: 23px;
  }
  .cs-marine-bg .d-flex span {
    font-size: 11px;
  }
  .cs-marine-bg .d-flex p {
    font-size: 11px;
  }
  .cs-marine-sm-top img {
    max-height: 319px !important;
    height: 100% !important;
  }
  .cs-marine-img {
    width: 37%;
  }
  .cs-marine-sm-top .d-flex {
    justify-content: start;
  }
  .cs-main-marine button {
    width: 100%;
    height: 60px;
    font-size: 17px;
  }
}

@media (min-width: 500px) {
  #goTpButton {
    margin: 30px;
  }
}

@media (min-width: 320px) and (max-width: 360px) {
}

@media (max-width: 320px) {
}

/********** 980px */
@media (max-width: 980px) {
  .cs-footer-top {
    display: none;
  }
  .mobile-footer {
    display: block;
  }

  /****** brand  */
  .cs-section-brand-cont {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
  }
  .section-brand {
    padding: 10px;
  }
  .cs-brand-box {
    width: 900px;
    margin-left: 0px;
    margin-bottom: 35px;
  }

  .cs-brand-box img {
    height: auto;
    width: 100%;
  }
  /******vids and subs  */
  .cs-container-subs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0px;
    padding: 20px;
  }
  .cs-subs {
    width: 100%;
  }
  .cs-vids {
    width: 100%;
  }
  .cs-vids .p-3 {
    margin-left: 20px;
  }
  .cs-magazine-bottoms {
    flex-wrap: wrap;
  }
  /*********main page shelter  */
  .cs-gear-container {
    border-top: 0.5px solid #d4d4d4;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .cs-shelter {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .cs-shelter a img {
    width: 100%;
  }
  /*********** marine section  */
  .cs-marine-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .cs-marine-bg {
    width: 100%;
  }
  .cs-marine-sm {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
  }
  .cs-marine-sm-top {
    width: 48%;
  }
  .cs-marine-sm-top img {
    height: 319px;
  }
}
/********** 980px */

@media (max-width: 500px) {
  .megamenu-main-lastone .sign-up .input-text {
    width: 90px;
  }
  #cs-xmarkicon,
  #cs-xmarkicon2 {
    align-self: flex-start;
  }
  #mega-menu .megamenu-title svg,
  #mega-menu2 .megamenu-title svg {
    width: 10.0625rem;
  }
  .megamenu-title .logo-search {
    gap: 15px;
  }
  .megamenu-title input {
    width: 160px;
  }
  .section2 .cs-container {
    width: 93%;
  }
  .cs-nav-scroll {
    width: 94%;
  }
}
